<!DOCTYPE html>
<html>
  <head>
    <title>Video Preview</title>
  </head>
  <body>
  	<div>Hello Preview Video</div>
  	<video controls>
      <source src="/video" type="video/mp4">
    </video>
    <!-- <video id="preview" autoplay></video> -->
   <!--  <video width="320" height="240" controls>
      <source src="D:\\code practice\\Process-Video\\previewvideo\\src\\main\\resources\\videos\\sample.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video> -->
    
    <script type="text/javascript" src="/js/preview.js"></script>
  </body>
</html>